@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
  }
  
body {
    font-family: "Roboto", sans-serif;
}

div#header {
    background-color: #f9f9f9;
    padding: 0px 8% 0px 8%;
}

div#banner {
    background-color: #f9f9f9;
    background-image: url("../img/box-bg.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 70px 8% 90px 8%;
    font-size: 45px;
    font-weight: 300;
}

div.content {
    padding: 0px 8% 30px 8%;
}

.text-btn {
    background: none;
    border: none;
    font-size: 24px;
}

.menu-btn:hover {
    color: #111;
}

.btn-gs {
    padding: 6px 40px;
    border-radius: 50vh;
    font-family: "Roboto", sans-serif;
    margin: 0px 60px 0px 0px;
    border: 0px;
    background-color: #000;
}

.btn-bt {
    padding: 6px 40px;
    border-radius: 50vh;
    font-family: "Roboto", sans-serif;
    margin: 0px 10px 0px 0px;
    border: 1px solid #999;
    background-color: #fff;
}

.btn-pp {
    padding: 6px 40px;
    border-radius: 50vh;
    font-family: "Roboto", sans-serif;
    margin: 20px 0px 0px 0px;
    border: 0px;
    background-color: #573eff;
}


.offcanvas-menu {
    position: fixed;
    top: 0;
    right: -350px;
    width: 350px;
    height: 100%;
    background: #222;
    color: white;
    transition: right 0.6s ease-in-out;
    padding-top: 60px;
    z-index: 999;
}
.offcanvas-menu.active {
    right: 0;
}

.offcanvas-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
  
.offcanvas-menu li a {
    display: block;
    color: #fff;
    padding: 12px 18px;
    text-decoration: none;
    border-bottom: 1px solid #666;
}
  
.offcanvas-menu li a:hover {
    background-color: #000;
    color: white;
}

div.step {
    position: relative;
}

div.steplabel {
    position: absolute;
    top: 400px;
    left: 0;
    transform-origin: 0 0;
    transform: rotate(270deg);
    font-weight: 600;
    font-size: 24px;
    color: #999;
}

div.steplabel span {
    color: #666;
}

div.stepbox {
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    height: 400px;
    width: calc(100% - 60px);
    margin-left: 40px;
    display: inline-block;
}

textarea.entertext {
    width: 100%;
    height: 345px;
    padding: 20px 34px;
    margin: 5px 0px 0px 0px;
    border: 0px;
    outline: none !important;
    font-size: 11px;
    resize: none;
  }



div.bottom-buttons {
    position: absolute;
    top: 345px;
    width: 500px;
    height: 45px;
    padding: 10px 0px 0px 34px;
    background-color: #fff;
  }



  .workflow-container {
    margin-top: 0px;
    background-color: #fff;
    padding: 0px;
    border-radius: 10px;
    height: 345px;
  }
  .workflow-container h2 {
    text-align: center;
    color: #444;
    font-size: 1.8em;
    margin-bottom: 20px;
  }

  n8n-demo {
    --n8n-frame-background-color: transparent;
    --n8n-json-background-color: #f0f0f0;
    --n8n-copy-button-background-color: #ccc;
    --n8n-workflow-min-height: 280px;
    --n8n-iframe-border-radius: 15px;
  }